
<div style = "position:fixed; left:300px; top:110px" >
    <div class="panel-heading">
        <h1 style="color:orangered">Add Product</h1>
    </div>
<form action="/admin/add" method="POST">
<div class="mb-3">
  <label for="name" class="form-label">Product name</label>
  <input type="text" style="width: 700px" class="form-control" name="name" >

    <label for="age" class="form-label">Age</label>
    <input type="number" style="width: 700px" class="form-control" name="age">

    <label for="price" class="form-label">Price</label>
    <input type="number" style="width: 700px" class="form-control" name="price">

    <label for="quantity" class="form-label">Quantity</label>
    <input type="number" style="width: 700px" class="form-control"  name="quantity">

    <label for="description" class="form-label">Description</label>
    <input type="text" style="width: 700px" class="form-control" name="description">

    <label for="rating" class="form-label">Rating</label>
    <input type="number" style="width: 700px" class="form-control" name="ratting">
</div>
    <input type="submit" style="width: 100px" class="btn btn-warning">
    <h2><a href="/admin/products" class="btn btn-info">Go back to Product Management Page</a></h2>
</form>
  </div>
