
<div class="container col-md-6 text-center mt-3 card p-2 bg-warning">
<h1 style="color:red;">add product</h1>
<form action="/admin/add" method="POST">
Name: <input type="text" name="name"><br>
Age:   <input type="number" name="age"><br>
Price: <input type="number" name="price"><br>
Quantity: <input type="number" name="quantity"><br>
Description: <input type="text" name="description"><br>
rating: <input type="text" name="ratting"><br>
<button type="submit">Add product</button>

<h2><a href="/admin/products" class="btn btn-info">Go to Product Management Page</a></h2>
</form>
</div>